[submodule "ModuleDevelopmentKit"]
	path = ModuleDevelopmentKit
	url = https://github.com/GameProgressive/ModuleDevelopmentKit
[submodule "MasterServer"]
	path = MasterServer
	url = https://github.com/GameProgressive/MasterServer
[submodule "N7Network"]
	path = N7Network
	url = https://github.com/GameProgressive/N7Network
[submodule "RetroSpyServer"]
	path = RetroSpyServer
	url = https://github.com/GameProgressive/RetroSpyServerCXX
